{% extends "base.html" %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>django-rest-auth demo</h1>
    <p>Welcome in django-rest-auth demo project!</p>
  </div>
{% endblock %}
